**/*.aux
**/*.log
**/*.gz
C:/Users/aksequei/Documents/MTE325/GIT/NucleoSourceCode/STM32CubeExpansion-SPN2_V1.1.0/Projects/Multi/Examples/MotionControl/MicrosteppingMotor/*.*
C:/Users/aksequei/Documents/MTE325/GIT/NucleoSourceCode/STM32CubeExpansion-SPN2_V1.1.0/Projects/Multi/Examples/MotionControl/MicrosteppingMotor/MDK-ARM/NUCLEO-F401RE/Project.uvguix.aksequei
C:/Users/aksequei/Documents/MTE325/GIT/NucleoSourceCode/STM32CubeExpansion-SPN2_V1.1.0/Projects/Multi/Examples/MotionControl/MicrosteppingMotor/MDK-ARM/NUCLEO-F401RE/Project.uvoptx
C:/Users/aksequei/Documents/MTE325/GIT/NucleoSourceCode/STM32CubeExpansion-SPN2_V1.1.0/Projects/Multi/Examples/MotionControl/MicrosteppingMotor/MDK-ARM/NUCLEO-F401REstartup_stm32f401xe.lst
C:/Users/aksequei/Documents/MTE325/GIT/NucleoSourceCode/STM32CubeExpansion-SPN2_V1.1.0/Projects/Multi/Examples/MotionControl/MicrosteppingMotor/MDK-ARM/NUCLEO-F401RE/DebugConfig/*.*
C:/Users/aksequei/Documents/MTE325/GIT/NucleoSourceCode/STM32CubeExpansion-SPN2_V1.1.0/Projects/Multi/Examples/MotionControl/MicrosteppingMotor/MDK-ARM/NUCLEO-F401RE/STM32F401RE-Nucleo/*.*